{"swagger":"2.0","info":{"version":"3","title":"대한민국 공공서비스 정보","description":"정부24 대한민국 공공서비스 정보 제공 서비스"},"host":"api.odcloud.kr","basePath":"/api","schemes":["https","http"],"securityDefinitions":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"Authorization"},"ApiKeyAuth2":{"type":"apiKey","in":"query","name":"serviceKey"}},"paths":{"/gov24/v3/serviceList":{"get":{"tags":["API 목록"],"summary":"공공서비스 목록","operationId":"getserviceList","description":"정부24에서 제공하는 공공서비스 목록입니다.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false},{"name":"cond[서비스명::LIKE]","in":"query","description":null,"type":"string","format":"string","required":false},{"name":"cond[소관기관명::LIKE]","in":"query","description":null,"type":"string","format":"string","required":false},{"name":"cond[소관기관유형::LIKE]","in":"query","description":null,"type":"string","format":"string","required":false},{"name":"cond[사용자구분::LIKE]","in":"query","description":null,"type":"string","format":"string","required":false},{"name":"cond[서비스분야::LIKE]","in":"query","description":null,"type":"string","format":"string","required":false},{"name":"cond[등록일시::LT]","in":"query","description":null,"type":"string","format":"string","required":false},{"name":"cond[등록일시::LTE]","in":"query","description":null,"type":"string","format":"string","required":false},{"name":"cond[등록일시::GT]","in":"query","description":null,"type":"string","format":"string","required":false},{"name":"cond[등록일시::GTE]","in":"query","description":null,"type":"string","format":"string","required":false},{"name":"cond[수정일시::LT]","in":"query","description":null,"type":"string","format":"string","required":false},{"name":"cond[수정일시::LTE]","in":"query","description":null,"type":"string","format":"string","required":false},{"name":"cond[수정일시::GT]","in":"query","description":null,"type":"string","format":"string","required":false},{"name":"cond[수정일시::GTE]","in":"query","description":null,"type":"string","format":"string","required":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/serviceList_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/gov24/v3/serviceDetail":{"get":{"tags":["API 목록"],"summary":"공공서비스 상세내용","operationId":"getserviceDetail","description":"정부24에서 제공하는 개별 공공서비스의 상세한 내용입니다.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false},{"name":"cond[서비스ID::EQ]","in":"query","description":null,"type":"string","format":"string","required":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/serviceDetail_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}},"/gov24/v3/supportConditions":{"get":{"tags":["API 목록"],"summary":" 공공서비스 지원조건","operationId":"getsupportConditions","description":"공공서비스를 받기 위한 지원조건 정보입니다.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"page index","type":"integer","format":"int64","exclusiveMinimum":false,"default":1},{"name":"perPage","in":"query","description":"page size","type":"integer","format":"int64","exclusiveMinimum":false,"default":10},{"name":"returnType","in":"query","description":"응답의 데이터 타입을 선택할 수 있습니다. (기본값: JSON)<br/>XML형태의 응답결과를 얻기 위해서는 XML 값으로 설정","type":"string","exclusiveMinimum":false},{"name":"cond[서비스ID::EQ]","in":"query","description":"공공서비스 고유 식별자","type":"string","format":"string","required":false}],"responses":{"200":{"description":"성공적으로 수행 됨","schema":{"$ref":"#/definitions/supportConditions_api"}},"401":{"description":"인증 정보가 정확 하지 않음"},"500":{"description":"API 서버에 문제가 발생하였음"}},"security":[{"ApiKeyAuth":[]},{"ApiKeyAuth2":[]}]}}},"definitions":{"serviceList_model":{"type":"object","properties":{"서비스ID":{"type":"string","description":""},"지원유형":{"type":"string","description":""},"서비스명":{"type":"string","description":""},"서비스목적요약":{"type":"string","description":""},"지원대상":{"type":"string","description":""},"선정기준":{"type":"string","description":""},"지원내용":{"type":"string","description":""},"신청방법":{"type":"string","description":""},"신청기한":{"type":"string","description":""},"상세조회URL":{"type":"string","description":""},"소관기관코드":{"type":"string","description":""},"소관기관명":{"type":"string","description":""},"부서명":{"type":"string","description":""},"조회수":{"type":"integer","description":""},"소관기관유형":{"type":"string","description":""},"사용자구분":{"type":"string","description":""},"서비스분야":{"type":"string","description":""},"접수기관":{"type":"string","description":""},"전화문의":{"type":"string","description":""},"등록일시":{"type":"string","description":""},"수정일시":{"type":"string","description":""}}},"serviceList_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/serviceList_model"}}}},"serviceDetail_model":{"type":"object","properties":{"서비스ID":{"type":"string","description":""},"지원유형":{"type":"string","description":""},"서비스명":{"type":"string","description":""},"서비스목적":{"type":"string","description":""},"신청기한":{"type":"string","description":""},"지원대상":{"type":"string","description":""},"선정기준":{"type":"string","description":""},"지원내용":{"type":"string","description":""},"신청방법":{"type":"string","description":""},"구비서류":{"type":"string","description":""},"접수기관명":{"type":"string","description":""},"문의처":{"type":"string","description":""},"온라인신청사이트URL":{"type":"string","description":""},"수정일시":{"type":"string","description":""},"소관기관명":{"type":"string","description":""},"행정규칙":{"type":"string","description":""},"자치법규":{"type":"string","description":""},"법령":{"type":"string","description":""},"공무원확인구비서류":{"type":"string","description":""},"본인확인필요구비서류":{"type":"string","description":""}}},"serviceDetail_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/serviceDetail_model"}}}},"supportConditions_model":{"type":"object","properties":{"서비스ID":{"type":"string","description":"공공서비스 고유 식별자"},"JA0101":{"type":"string","description":"남성"},"JA0102":{"type":"string","description":"여성"},"JA0110":{"type":"integer","description":"대상연령(시작)"},"JA0111":{"type":"integer","description":"대상연령(종료)"},"JA0201":{"type":"string","description":"중위소득 0~50%"},"JA0202":{"type":"string","description":"중위소득 51~75%"},"JA0203":{"type":"string","description":"중위소득 76~100%"},"JA0204":{"type":"string","description":"중위소득 101~200%"},"JA0205":{"type":"string","description":"중위소득 200% 초과"},"JA0301":{"type":"string","description":"예비부모/난임"},"JA0302":{"type":"string","description":"임산부"},"JA0303":{"type":"string","description":"출산/입양"},"JA0313":{"type":"string","description":"농업인"},"JA0314":{"type":"string","description":"어업인"},"JA0315":{"type":"string","description":"축산업인"},"JA0316":{"type":"string","description":"임업인"},"JA0317":{"type":"string","description":"초등학생"},"JA0318":{"type":"string","description":"중학생"},"JA0319":{"type":"string","description":"고등학생"},"JA0320":{"type":"string","description":"대학생/대학원생"},"JA0322":{"type":"string","description":"해당사항없음"},"JA0326":{"type":"string","description":"근로자/직장인"},"JA0327":{"type":"string","description":"구직자/실업자"},"JA0401":{"type":"string","description":"다문화가족"},"JA0402":{"type":"string","description":"북한이탈주민"},"JA0403":{"type":"string","description":"한부모가정/조손가정"},"JA0404":{"type":"string","description":"1인가구"},"JA0410":{"type":"string","description":"해당사항없음"},"JA0411":{"type":"string","description":"다자녀가구"},"JA0412":{"type":"string","description":"무주택세대"},"JA0413":{"type":"string","description":"신규전입"},"JA0414":{"type":"string","description":"확대가족"},"JA1101":{"type":"string","description":"예비창업자"},"JA1102":{"type":"string","description":"영업중"},"JA1103":{"type":"string","description":"생계곤란/폐업예정자"},"JA1201":{"type":"string","description":"음식적업"},"JA1202":{"type":"string","description":"제조업"},"JA1299":{"type":"string","description":"기타업종"},"JA2101":{"type":"string","description":"중소기업"},"JA2102":{"type":"string","description":"사회복지시설"},"JA2103":{"type":"string","description":"기관/단체"},"JA2201":{"type":"string","description":"제조업"},"JA2202":{"type":"string","description":"농업,임업 및 어업"},"JA2203":{"type":"string","description":"정보통신업"},"JA2299":{"type":"string","description":"기타업종"},"JA0328":{"type":"string","description":"장애인"},"JA0329":{"type":"string","description":"국가보훈대상자"},"JA0330":{"type":"string","description":"질병/질환자"},"서비스명":{"type":"string","description":"서비스명"}}},"supportConditions_api":{"type":"object","properties":{"page":{"type":"integer","format":"int64"},"perPage":{"type":"integer","format":"int64"},"totalCount":{"type":"integer","format":"int64"},"currentCount":{"type":"integer","format":"int64"},"matchCount":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/supportConditions_model"}}}}}}